<div class="projects-container" id="projec">
  <div class="projects-child-container">
    <h1 data-aos="zoom-in" data-aos-duration="2000">
      My <span style="color: #fee715">Projects</span>
    </h1>
    <div class="projects-box">
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/taskmaster.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>Task Master</h1>
          <p>
            TaskMaster is a powerful to-do application built with Angular,
            TaskMaster helps users efficiently organize and prioritize their
            tasks, ensuring they stay on top of their workload.
          </p>
          <div class="project-buttons">
            <a href="https://todo-app-vnk.vercel.app/" target="_blank">
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a
              href="https://github.com/vanikonozadze/Task-Master"
              target="_blank"
            >
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/fylo.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>Fylo dark</h1>
          <p>
            App with sleek, responsive design that meets seamless functionality
            for captivating user experiences across devices, driving engagement
            and conversions effortlessly.
          </p>
          <div class="project-buttons">
            <a href="https://fylo-dark-gilt.vercel.app/" target="_blank">
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a
              href="https://github.com/vanikonozadze/Fylo-Dark"
              target="_blank"
            >
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/fusely.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>Fusely</h1>
          <p>
            Introducing Fusely, the ultimate landing page solution that combines
            sleek design. Fusely also is fully responsive web site.
          </p>
          <div class="project-buttons">
            <a href="https://vanikonozadze.github.io/Fusely/" target="_blank">
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a href="https://github.com/vanikonozadze/Fusely" target="_blank">
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/where-in-the-world.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>Where in the world</h1>
          <p>
            App built using rest countries API, in the app I am showing
            population of the countries, in what region they are located and
            also their capital cities.
          </p>
          <div class="project-buttons">
            <a
              href="https://where-in-the-world-snowy-seven.vercel.app/"
              target="_blank"
            >
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a
              href="https://github.com/vanikonozadze/Where-In-The-World"
              target="_blank"
            >
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/redberry.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>Redberry</h1>
          <p>
            Employees at Redberry love to share information, interests, and
            knowledge with each other. Therefore, it has become important to
            simplify the process of providing this information, which the said
            application provides to some extent.
          </p>
          <div class="project-buttons">
            <a href="https://redberry-task-brown.vercel.app/" target="_blank">
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a
              href="https://github.com/vanikonozadze/redberry-task"
              target="_blank"
            >
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="project" data-aos="flip-down" data-aos-duration="2500">
        <img
          src="../../../assets/images/nbaapp.png"
          alt="project image"
          class="project-image"
        />
        <div class="project-info">
          <h1>NBA stats app</h1>
          <p>
            This project is a fully responsive website about NBA players, teams
            and news. It is designed to be easily accessible and viewable across
            different devices and screen sizes.
          </p>
          <div class="project-buttons">
            <a href="https://nba-stats-nv.netlify.app/" target="_blank">
              <button class="live-server-button">
                <p>Live Demo</p>
                <img
                  src="../../../assets/images/pngwing.com.png"
                  alt="live server logo"
                  width="25px"
                />
              </button>
            </a>
            <a
              href="https://github.com/NikolozTsutskhubaia/NBA-Stats-App"
              target="_blank"
            >
              <button class="code-server-button">
                <p>Source Code</p>
                <img
                  src="../../../assets/images/icons8-source-code-64.png"
                  alt="source code logo"
                  width="20px"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
