<div class="projects-container">
  <div class="projects-child-container">
    <h1>My <span style="color: #fee715">Projects</span></h1>
    <div class="projects-box">
      <div class="project">
        <img
          src="../../../assets/images/taskmaster.png"
          alt="project image"
          class="project-image"
        />
      </div>
      <div class="project">
        <img
          src="../../../assets/images/fylo.png"
          alt="project image"
          class="project-image"
        />
      </div>
      <div class="project">
        <img
          src="../../../assets/images/fusely.png"
          alt="project image"
          class="project-image"
        />
      </div>
      <div class="project">
        <img
          src="../../../assets/images/where-in-the-world.png"
          alt="project image"
          class="project-image"
        />
      </div>
      <div class="project">
        <img
          src="../../../assets/images/redberry.png"
          alt="project image"
          class="project-image"
        />
      </div>
      <div class="project">
        <img
          src="../../../assets/images/nbaapp.png"
          alt="project image"
          class="project-image"
        />
      </div>
    </div>
  </div>
</div>
