.about-me-container {
  display: flex;
  background-color: #fff;
  padding-top: 35px;
}

.about-me-child-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.developer-image {
  width: 450px;
}

.about-me-text h2 {
  font-size: 46px;
  margin-bottom: 20px;
}

.about-me-text p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.skills-container {
  height: 20vh;
  height: 250px;
}

.skills-container h1 {
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

swiper-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

swiper-slide p {
  color: #fff;
  margin-top: 10px;
}

.swiper-image {
  width: 65px;
  height: 65px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .about-me-child-container {
    width: 80%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  swiper-container {
    width: 600px;
  }
}

@media screen and (max-width: 1080px) {
  .about-me-child-container {
    width: 80%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  swiper-container {
    width: 600px;
  }

  .about-me-child-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  h2 {
    text-align: center;
  }

  .about-me-text {
    width: 90%;
    margin: 0 auto;
  }

  .about-me-text p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .developer-image {
    width: 60%;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .about-me-child-container {
    width: 80%;
  }

  swiper-container {
    width: 90%;
    padding: 20px;
  }

  swiper-slider {
    width: 90%;
  }

  .swiper-image {
    width: 40%;
  }

  p {
    font-size: 16px;
  }
}
