<div class="about-me-container" id="abo">
  <h2>ABOUT ME</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore qui,
    expedita in quasi dolor accusamus? Ex eum unde dolorum. Quae iure,
    voluptatum excepturi modi cum minus facilis expedita reprehenderit possimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium placeat
    ipsam tenetur. Voluptatum, illo minima. Iure id laudantium ipsa, voluptatum
    odit sed ipsam deserunt earum ab, ducimus, commodi atque aliquid. Quisquam,
    soluta fugit! Distinctio accusantium laborum dignissimos veniam
    exercitationem? Exercitationem eaque magnam debitis optio necessitatibus vel
    repellendus rem, odit ipsum ratione laudantium accusantium? Suscipit, in
    odit cumque officia consequatur laudantium. Nam asperiores corporis expedita
    temporibus eaque quod similique vero dignissimos vitae? Voluptatum nobis
    magnam libero autem adipisci optio, animi vitae aspernatur blanditiis.
    Mollitia quod molestiae similique quos iste, totam maxime?
  </p>
</div>
