.nav-bar {
  /* position: fixed;
  left: 50%;
  transform: translateX(-50%); */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 500px;
  background-color: #101820;
  color: #fff;
}

.nav-bar p {
  width: 250px;
  font-size: 32px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.nav-items li {
  font-size: 20px;
  cursor: pointer;
}
