.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 1090px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #101820;
  color: #fff;
  z-index: 1000;
}

.nav-bar a {
  width: 200px;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-bar a:hover {
  color: #fee715;
}

.nav-items {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.nav-items li {
  font-size: 18px;
  cursor: pointer;
}

.nav-items li:hover,
.nav-items li.active {
  color: yellow;
}

@media screen and (max-width: 1080px) {
  .nav-bar {
    position: relative;
    width: 90%;
  }

  .nav-items {
    display: none;
  }
}
