.intro-container {
  padding-top: 200px;
}

h1 {
  font-size: 80px;
  color: #fff;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}

.software-engineer-text {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
}

p {
  font-size: 20px;
  color: #fbeaeb;
}

button {
  width: 200px;
  border-radius: 25px;
  border: none;
  height: 50px;
  font-size: 16px;
  margin-top: 50px;
  background-color: #fee715;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff7b0;
  color: #000;
}

@media screen and (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .intro-container {
    width: 80%;
  }
}
